<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/education.component.scss" media="screen">
</head>
<body>
  <h1>educación</h1>
  <ul *ngFor="let work of education">

    <li> {{work.fecha}}</li>
    <li><b>{{work.escuela}}</b> </li>
    <li>{{work.lugar}}</li>
    <li>{{work.promedio}} </li>



  </ul>

</body>
</html>
