
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/header.component.scss" media="screen">
</head>
<body>
<div class="nombre">
  <p id="nombre">Rodrigo Mencias Gonzalez</p>
  <p>Ser SNI 3, y tener cuadritos,</p>
</div>

<div class="imagen"><img src="../assets/foto1.jpg" width="150" height="150" ></div>

<div class="datos">
  <p>rodrigomenciasg@gmail.com</p>
  <p>2722063139</p>
  <p>Mariano Escobedo Veracruz</p>
  <p>@RodrigoMencias</p>
</div>


</body>
</html>

