table{
  border-radius: 15px;
  border-color: black;
  border-style: solid;
  margin: 0 auto;

}
tr{
  border-radius: 15px;
  border-color: 030774;
  border-style: solid;

}
td{
  border-radius: 15px;
  border-color: 030774;



}
