
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.scss" type="text/css" media="screen">
  <title>CV</title>
</head>
<body>

  <table >
    <tr >
      <td colspan="2">


  <tr>
    <td>
      <app-header></app-header>
    </td>


    <tr>
      <td>
        <app-work-experience></app-work-experience>
      </td>

      <td>
        <app-education></app-education>
      </td>

    </tr>
    <tr>
      <td>
        <app-skills></app-skills>
      </td>
    </tr>
  </table>
</body>
</html>



