
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/work-experience.component.scss" media="screen">

</head>
<body>
  <h1>Experiencia laboral</h1>
  <ul *ngFor="let work of workExperience">

    <h2>trabajos</h2>
    <li>
      {{work.fecha}} -- -{{work.ubicacion}}
    </li>
    <li>
      <tr>
        {{work.puesto}}
      </tr>
    </li>
    <li>
      <tr>
        {{work.empresa}}
      </tr>
      <h4>Logros:</h4>
      <ul *ngFor="let logro of work.logros">
        <li>
          <tr>
            {{logro.descripcion}}
          </tr>
        </li>

      </ul>


    </li>
  </ul>
</body>
</html>


