<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="archivements.component.scss" type="text/css" media="screen">
  <title>Document</title>
</head>
<body>
  <h1>Logros y sertificados</h1>

  <div class="box">
  <ul *ngFor="let work of archivement">


    <dl>
      <dt>
        <h2>{{work.tipo}}</h2>
      </dt>
      <dd><h3> {{work.nombre}}</h3></dd>
      <dd>{{work.descripcion}} </dd>

    </dl>

  </ul>
</div>
</body>
</html>
